<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <header>{{ site.title  | escape }}</header>
        <header class='subtitle'>{{ site.subtitle  | escape }}</header>
        {%- if site.author %}
        <ul class="contact-list">
          <li class="p-name">{{ site.author.name | escape }}, <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          <li>
            Links:
            <a class="u-email" href="https://{{ site.author.home }}" target="_blank" title="Home">Home</a>,
            <a class="u-email" href="https://{{ site.author.consulting }}" target="_blank" title="Art & Logic">Art & Logic (consulting)</a>,
            <a class="u-email" href="https://{{ site.author.resume }}" target="_blank" title="resume">Resume</a>
          </li>

        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>