h1.post-title {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
  a.post-link {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 0.5rem;
}

header {
  font-size: 1.1rem;
  font-weight: 600;
  &.subtitle {
    font-size: 0.95rem;
    font-weight: 500;
  }
  &.post-header {
    margin-bottom: 1rem;
  }
}

.post-list > li {
  margin-bottom: 1.25rem;
}

a {
  font-size: 95%;
}

#categories {
  display: flex;
  flex-direction: column;
  .category-group {
    margin: 0.25rem 0;
    h3.category-head {
      margin: 0.5rem 0;
      font-size: 1.3rem;
    }
    article.category-item {
      h4 {
        margin: 0.25rem 0;
        font-size: 1.2rem;
      }
    }
    .category-name {
    }
  }
}
