h1.post-title {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  a.post-link {
    font-size: 1.4rem;
  }
}

header {
  font-size: 1rem;
  font-weight: 600;
}

.post-list > li {
  margin-bottom: 1.25rem;
}
